<%= form_with(model: instruments_group, local: true) do |form| %>
  <% if instruments_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instruments_group.errors.count, "erreur identifiée", "erreurs identifiées") %> : </h2>

      <ul>
      <% instruments_group.errors.messages.values.each do |message| %>
        <li><%= message[0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr/><h3>Informations sur la catégorie d'instruments</h3><br/>

  <em>
    Nom suisse et nom français : au moins un des deux champs est obligatoire pour représenter la catégorie d'instruments.<br/>
    La combinaison nom suisse - nom français doit être unique.
  </em><br/><br/><br/>

  <div class="field">
    Nom suisse de la catégorie d'instruments : <br/>
    <em>Champ de type texte (maximum 250 caractères, espaces compris)</em><br/>
    <%= form.text_field :name_ch, size: '43.5' %>
  </div><br/>

  <div class="field">
    Nom français de la catégorie d'instruments : <br/>
    <em>Champ de type texte (maximum 250 caractères, espaces compris)</em><br/>
    <%= form.text_field :name_fr, size: '43.5' %>
  </div><br/>

  <div class="field">
    Abréviation suisse de la catégorie d'instruments : <br/>
    <em>Champ de type texte (maximum 10 caractères, espaces compris)</em><br/>
    <%= form.text_field :abbrev_ch, size: '10' %>
  </div><br/>

  <div class="field">
    Abréviation française de la catégorie d'instruments : <br/>
    <em>Champ de type texte (maximum 10 caractères, espaces compris)</em><br/>
    <%= form.text_field :abbrev_fr, size: '10' %>
  </div><br/>

  <div class="field">
    Description de la catégorie d'instruments : <br/>
    <em>Champ de type texte (maximum 500 caractères, espaces compris)</em><br/>
    <%= form.text_area :description, size: '40x5' %>
  </div><br/>

  <div class="field">
    Pays de la catégorie d'instruments : <br/>
    <em>Champ de type texte (maximum 20 caractères, espaces compris)</em><br/>
    <%= form.text_field :country, size: '10' %>
  </div><br/>

  <div class="field">
    Droit public ? 
    <%= form.check_box :law %>
  </div><br/>

  <div class="field">
    Procédure de recours ? 
    <%= form.check_box :appeal_proc %>
  </div><br/>

  <div class="field">
    Description de la procédure de recours : <br/>
    <em>Champ de type texte (nombre illimité de caractères)</em><br/>
    <%= form.text_area :descr_appeal_proc, size: '40x5' %>
  </div><br/>

  <div class="field">
    Type: <br/>
    <em>Champ de type liste déroulante (quatre choix possibles : plan, schéma, contrat, charte)</em><br/>
    <%= form.select :kind, options_for_select([["Choisir", 0], ["Plan", 1], ["Schéma", 2], ["Contrat", 3], ["Charte", 4]], selected: instruments_group.kind), id: :intruments_group_kind %>
  </div><br/>

  <div class="field">
    Orientation ?
    <%= form.check_box :orientation %>
  </div><br/>

  <div class="field">
    Prescriptif ?
    <%= form.check_box :prescriptive %>
  </div><br/>

  <div class="field">
    Durée de validité : <br/>
    <em>Champ de type nombre entier</em><br/>
    <%= form.text_field :validity_period, size: '10' %>
  </div><br/>

  <hr/>
  <div class="actions">
    <%= form.submit "Enregistrer" %>
  </div>
<% end %>
