<p id="notice"><%= notice %></p>

<p>
  <strong>Nom de l'instrument : </strong>
  <%= @instrument.name %>
</p>

<p>
  <strong>Abréviation de l'instrument : </strong>
  <%= @instrument.abbreviation %>
</p>

<p>
  <strong>Date d'entrée en vigueur de l'instrument : </strong>
  <% if @instrument.start_date != nil %>
    <%= @instrument.start_date.strftime("%d.%m.%Y") %>
  <% end %>
</p>

<p>
  <strong>Date de dernière révision de l'instrument : </strong>
  <% if @instrument.last_rev_date != nil %>
    <%= @instrument.last_rev_date.strftime("%d.%m.%Y") %>
  <% end %>
</p>

<p>
  <strong>Description de l'instrument : </strong>
  <%= @instrument.description %>
</p>

<p>
  <strong>Contenu "Aménagement du territoire" : </strong>
  <%= @instrument.planning %>
</p>

<p>
  <strong>Contenu "Transfrontalier" : </strong>
  <%= @instrument.transboundary %>
</p>

<p>
  <strong>Procédure de recours ? </strong>
  <%= @instrument.appeal_proc %>
</p>

<p>
  <strong>Description de la procédure de recours : </strong>
  <%= @instrument.descr_appeal_proc %>
</p>

<p>
  <strong>Catégorie d'instruments : </strong>
  <% if @instrument.instruments_group.name_ch != "" %>
    <%= @instrument.instruments_group.name_ch %> (ch) 
  <% end %>
  <% if @instrument.instruments_group.name_ch != "" and @instrument.instruments_group.name_fr != "" %>
    /
  <% end %>
  <% if @instrument.instruments_group.name_fr != "" %>
    <%= @instrument.instruments_group.name_fr %> (fr)
  <% end %>
</p>

<%= link_to 'Editer', edit_instrument_path(@instrument) %> |
<%= link_to 'Voir tous les instruments territoriaux', instruments_path %>
